In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression

In [3]:
# Load the data
data = pd.read_csv('../data/MachineLearningRating_v3.txt', sep='|', low_memory=False)

# Display the first few rows of the DataFrame
print(data.head())

   UnderwrittenCoverID  PolicyID     TransactionMonth  IsVATRegistered  \
0               145249     12827  2015-03-01 00:00:00             True
1               145249     12827  2015-05-01 00:00:00             True
2               145249     12827  2015-07-01 00:00:00             True
3               145255     12827  2015-05-01 00:00:00             True
4               145255     12827  2015-07-01 00:00:00             True

  Citizenship          LegalType Title Language                 Bank  \
0              Close Corporation    Mr  English  First National Bank
1              Close Corporation    Mr  English  First National Bank
2              Close Corporation    Mr  English  First National Bank
3              Close Corporation    Mr  English  First National Bank
4              Close Corporation    Mr  English  First National Bank

       AccountType  ...                    ExcessSelected CoverCategory  \
0  Current account  ...             Mobility - Windscreen    Windscreen
1  Current account  ...             Mobility - Windscreen    Windscreen
2  Current account  ...             Mobility - Windscreen    Windscreen
3  Current account  ...  Mobility - Metered Taxis - R2000    Own damage
4  Current account  ...  Mobility - Metered Taxis - R2000    Own damage

    CoverType            CoverGroup              Section  \
0  Windscreen  Comprehensive - Taxi  Motor Comprehensive
1  Windscreen  Comprehensive - Taxi  Motor Comprehensive
2  Windscreen  Comprehensive - Taxi  Motor Comprehensive
3  Own Damage  Comprehensive - Taxi  Motor Comprehensive
4  Own Damage  Comprehensive - Taxi  Motor Comprehensive

                           Product StatutoryClass StatutoryRiskType  \
0  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
1  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
2  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
3  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
4  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant

   TotalPremium TotalClaims
0     21.929825         0.0
1     21.929825         0.0
2      0.000000         0.0
3    512.848070         0.0
4      0.000000         0.0

[5 rows x 52 columns]

In [4]:
data.isna().sum()

UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                         145961
AccountType                   40232
MaritalStatus                  8259
Gender                         9536
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                          552
VehicleType                     552
RegistrationYear                  0
make                            552
Model                           552
Cylinders                       552
cubiccapacity                   552
kilowatts                       552
bodytype                        552
NumberOfDoors                   552
VehicleIntroDate                552
CustomValueEstimate          779642
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding                2
NewVehicle                   153295
WrittenOff                   641901
Rebuilt                      641901
Converted                    641901
CrossBorder                  999400
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64

In [5]:
# droping not specified Gender

data = data[data['Gender'] != 'Not specified']
data.dropna(subset=['NewVehicle'], inplace=True)
data_droped = data.drop(columns=['WrittenOff', 'NumberOfVehiclesInFleet', 'CrossBorder', 'Converted'])

In [6]:
data_droped.dropna(subset=['MaritalStatus', 'Bank'], inplace=True)

In [7]:
#new features catagory
features = ['LegalType', 'bodytype', 'Product', 'CoverGroup', 'Section', 'MaritalStatus']

In [9]:
legaltype = pd.get_dummies(data.LegalType, dtype='int')
legaltype

         Close Corporation  Individual  Private company
28622                    0           1                0
28623                    0           1                0
28624                    0           1                0
28625                    0           1                0
28626                    0           1                0
...                    ...         ...              ...
1000093                  0           1                0
1000094                  0           1                0
1000095                  0           1                0
1000096                  0           1                0
1000097                  0           1                0

[33677 rows x 3 columns]

In [11]:
#legal type vs total premium and total claim
data_legal_type = data[['TotalPremium', 'TotalClaims']]
merged_legal_type = pd.concat([data_legal_type, legaltype], axis='columns')
merged_legal_type.head()

,TotalPremium,TotalClaims,Close Corporation,Individual,Private company
28622,15.789474,0.0,0,1,0
28623,15.789474,0.0,0,1,0
28624,15.789474,0.0,0,1,0
28625,15.789474,0.0,0,1,0
28626,2.038421,0.0,0,1,0

In [13]:
train, validate, test = np.split(merged_legal_type, 
                                [int(0.6*len(merged_legal_type)), int(0.8*len(merged_legal_type))])

print("Train set size:", len(train))
print("Validation set size:", len(validate))
print("Test set size:", len(test))

Train set size: 20206
Validation set size: 6735
Test set size: 6736

In [15]:
model = LinearRegression()

In [16]:
# total premium
X = train.drop('TotalPremium', axis='columns')
y = train.TotalPremium

In [17]:
model.fit(X, y)

LinearRegression()